{% load crispy_forms_tags %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login Here</legend>
            <div id="div_id_username" class="form-group">
                <label for="id_username" class=" requiredField">
                    Username<span class="asteriskField">*</span>
                </label>
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                    maxlength="150" class="textinput textInput form-control" required="" id="id_username">
            </div>

            <div id="div_id_password" class="form-group">
                <label for="id_password" class=" requiredField">
                    Password<span class="asteriskField">*</span>
                </label>
                <input type="password" name="password" autocomplete="current-password"
                    class="textinput textInput form-control" required="" id="id_password">
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login </button>
        </div>
        <h4>No account yet <a href="{% url 'register' %}">Click here</a> to create one</h4>
    </form>
</div>